.background {
    background-image: url('~/assets/images/bookShelve.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

